/*Exemple de full d'estil, que només té SELECTORS etiqueta*/

/*Sintaxi fulls d'estil:
 * selector{
 * 			regla:valor;
 * 			} */
  
body{
	text-align: center;
	} 
	
/* Estil pel títol h1*/	
h1{
	font-family:Helvetica;
	font-size: 36px;
	color: #3036CE;
	text-shadow: 2px 2px 8px #BC30CE;
}

/* Estil pel pàrragraf*/
p{
	color:#612C9E;  
	text-align: overline;
	}

/* Estil pel títol h2*/
h2{
	 color:white;  
	 background-color: #931389;
	 text-shadow: olive -3px -4px 5px;
	}

li{
		text-align:center;
	}
